<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/createclass2.css">

    <title>Update user</title>
</head>
<body>

     <div class="form-style-5">
<form action="/updatestudent/{{student.id}}"method="POST">
<fieldset>
<legend><span class="number">1</span>Update Student</legend>
<input type="text" name="susername"required="required" value="{{student.susername}} "placeholder=" Username *">
<input type="email" name="semail"required="required"value="{{student.semail}} " placeholder="Email *">
 <input type="password"name="spassword" required="required"value="{{student.spassword}} "placeholder="Password *">

    
</fieldset>

<input type="submit" value="Update Student" />
</form>
    {{!-- <section>
  
        <div class="box">
          
          <div class="square" style="--i:0;"></div>
          <div class="square" style="--i:1;"></div>
          <div class="square" style="--i:2;"></div>
          <div class="square" style="--i:3;"></div>
          <div class="square" style="--i:4;"></div>
          <div class="square" style="--i:5;"></div>
          
         <div class="container"> 
          <div class="form"> 
            <h2>Edit Student</h2>
            <form action="/updatestudent/{{student.id}}"method="POST">
              <div class="inputBx">
                <input type="text" name="susername"value="{{student.susername}}"required="required">
                <span>Username</span>
               
              </div>
              <div class="inputBx">
                  <input type="text"name="semail" value="{{student.semail}}"required="required">
                  <span>Email</span>
                 
                </div>
              <div class="inputBx">
                  <input type="text"name="spassword"value="{{student.spassword}}" required="required">
                  <span>Password</span>  
                </div>
           
              
              
                <button class="button"type="submit" >Update user </button>
             
            </form>
           
          </div>
        </div>
          
        </div>
      </section>
      
      <!---JS CDN Link---->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!--Custom JS File-->
      <script>
      function show_hide_password(target){
          var input = document.getElementById('password-input');
          if (input.getAttribute('type') == 'password') {
              target.classList.add('view');
              input.setAttribute('type', 'text');
          } else {
              target.classList.remove('view');
              input.setAttribute('type', 'password');
          }
          return false;
      }
      
      </script> --}}
</body>
</html>